*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

    .pageTitle{
        // color: white;
        text-align: center;
        padding: 1rem 0;
    }

    .pageDesc{
        padding-left: 2rem;
        font-size: 1.2rem
        ;
    }

    .formContainer{
        padding: 2rem;

        .mentorsForm{
            
            .mentorsForm__question{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;

                input{
                    width: 20rem;
                    height: 1.5rem;
                    border-radius: 5px;
                    border: 1px gray solid;
                }
            }

            .mentorsForm__submitBtn button{
                width: 4rem;
                height: 2rem;
                border-radius: 5px;
                border: none;
                background-color: #3ccd94;
                color: white;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }

    .mentorsContainer{
        padding: 2rem;

        .mentorCard{
            padding: 1rem;
            margin-bottom: 1rem;
            background-color: white;
            border-radius: 5px;
            width: 30rem;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            .row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .row__left{
                    display: flex;

                    .mentorName{
                        margin-left: 0.5rem;
                    }
                }

                .row__right{
                    .btn{
                        width: 1.2rem;
                        margin-right: 0.5rem;

                        &:hover{
                            cursor: pointer;
                        }

                        img{
                            width: 1rem;
                            height: 1rem;
                        }
                    }
                }
            }

            .rowData{
                display: flex;

                .chips{
                    background-color: #c5c5c574;
                    padding: 0.2rem 1rem;
                    border-radius: 10px;
                    margin-right: 0.5rem;
                    margin-top: 0.5rem;
                }

                .mentorAvg{
                    img{
                        width: 1rem;
                        margin-right: 0.3rem;
                    }
                }
            }

            .mentorIcon{
                width: 1.2rem;
            }
        }

    }
}